
        <div class="container-white container-fluid">
        <div id="grass">
            <a href="index.html">  <img src="../img/parks-n-rec.png" class="logo"></a>
            <a href="customize.html"> <img src="../img/customize.png" class="customize"></a>
        </div>
                <div>
                    <a href="fitbit.html">
                        <div class="col-xs-12 bot-border" id="fitbit">
                            
                            <div class="icons-title">
                                <h2><i class="fa fa-sign-in fa-2x" style="vertical-align:middle"></i> Sync with FitBit</h2>
                            </div>
                        </div>
                    </a>
                    <a href="strava.html">
                        <div class="col-xs-12 bot-border" id="strava">
                            <div class="icons-title">
                               <h2><i class="fa fa-sign-in fa-2x" style="vertical-align:middle"></i> Sync with Strava</h2>
                            </div>
                        </div>
                    </a>
                    <a href="notifications.html">
                        <div class="col-xs-12 bot-border" id="notifications">
                            <div class="icons-title">
                                <h2> <i class="fa fa-calendar fa-2x" style="vertical-align:middle"></i> Notifications</h2>
                            </div>
                        </div>
                    </a>
                    <a href="clickfix.html">
                        <div class="col-xs-12 bot-border" id="clickfix">
                            <div class="icons-title">
                                <h2><i class="fa fa-comment-o fa-2x" style="vertical-align:middle"></i> SeeClickFix</h2>
                            </div>
                        </div>
                    </a>
                    <a href="upload-photo.html">
                        <div class="col-xs-12 bot-border" id="upload photo">
                            <div class="icons-title">
                                <h2><i class="fa fa-picture-o fa-2x" style="vertical-align:middle"></i> Photo Upload</h2>
                            </div>
                        </div>
                    </a>
                    
                </div>
        </div>
