<div class="container-white container-fluid">
    <div>
        <a ng-repeat="item in titles" href="/parks/tag/{{item.title | nospace}}">
            <div class="col-xs-12 bot-border" id="{{item.page}}">
                <div>
                    <img src="../../components/img/{{item.page}}-icon.png" border="0" class="noun-icon">
                </div>
                <div class="icons-title">
                    <h2>{{item.title}}</h2>
                </div>
            </div>
        </a>
</div>