
        <div class="container-white container-fluid">
        <div id="grass">
            <a href="index.html">
                <img src="../../components/img/parks-n-rec.png" class="logo">
                <img src="../../components/img/customize.png" class="customize"></a>
        </div>
                <div>
                    <a href="/parks/tag/Beaches">
                        <div class="col-xs-12 bot-border" id="beaches">
                            <div>
                                <img src="../../components/img/beaches-icon.png" border="0" class="noun-icon">
                            </div>
                            <div class="icons-title">
                                <h2>Beaches </h2>
                            </div>
                        </div>
                    </a>
                    <a href="/parks/tag/Lakes">
                        <div class="col-xs-12 bot-border" id="lakes">
                            <div>
                                <img src="../../components/img/lakes-icon.png" border="0" class="noun-icon">
                            </div>
                            <div class="icons-title">
                                <h2>Lakes</h2>
                            </div>
                        </div>
                    </a>
                    <a href="/parks/tag/SwimmingPools">
                        <div class="col-xs-12 bot-border" id="pools">
                            <div>
                                <img src="../../components/img/pools-icon.png" border="0" class="noun-icon">
                            </div>
                            <div class="icons-title">
                                <h2>Swimming<br>Pools</h2>
                            </div>
                        </div>
                    </a>
                    
                </div>
        </div>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>
