<div class="container container-fluid">
    <div>
        <a href="fitness.html">
            <div class="col-xs-12" id="fitness">
                <div class="bottom overlay">
                    <h1>Fitness <i class="fa fa-angle-right"></i></h1>
                </div>
            </div>
        </a>
        <a href="cultural.html">
            <div class="col-xs-12" id="cultural">
                <div class="bottom overlay">
                    <h1>Cultural <i class="fa fa-angle-right"></i></h1>
                </div>
            </div>
        </a>
        <a href="scenic.html">
            <div class="col-xs-12" id="scenic">
                <div class="bottom overlay">
                    <h1>Scenic <i class="fa fa-angle-right"></i></h1>
                </div>
            </div>
        </a>
        <a href="sports.html">
            <div class="col-xs-12" id="sports">
                <div class="bottom overlay">
                    <h1>Team Sports <i class="fa fa-angle-right"></i></h1>
                </div>
            </div>
        </a>
    </div>
</div>